<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
<!--    <script type="application/javascript" src="../public/js/validationCommon.js"></script>-->
<!--    <link rel="stylesheet" href="../public/css/style.css" />-->
<!--    <meta charset="UTF-8">-->
<!--    <meta name="viewport" content="width=device-width,initial-scale=1"/>-->
<!--    <title>NotAnOrganHarvestingOperation.INC</title>-->
<!--</head>-->
<!--<header>-->
<!--    <h1>NotAnOrganHarvestingOperation.INC</h1>-->
<!--    <img src="../public/images/rimworld_logo.png" alt="NotAnOrganHarvestingOperation.INC logo">-->
<!--</header>-->
<!--<nav>-->

<!--    <ul>-->
<!--        <li><a href="index.ejs" class="active">Home</a></li>-->
<!--        <li><a href="pages/doctor/list.ejs">Doctors</a></li>-->
<!--        <li><a href="pages/operation/list.ejs">Operations</a></li>-->
<!--        <li><a href="pages/willingOrganDonor/list.ejs">WillingOrganDonors</a></li>-->
<!--        <li><a href="pages/organ/list.ejs">Organs</a></li>-->
<!--    </ul>-->
<!--</nav>-->


<%- include('./fragment/header.ejs') %>

<main>
    <h2>Home</h2>
    <p>Roses are red, violets are blue,</p>
    <p>It took a long time to make TIN for you.</p>
    <p>From coding to debugging, it was a long road,</p>
    <p>But now it's here, and we're ready to unload.</p>
    <p>With features galore and a sleek design,</p>
    <p>TIN will make your web experience divine.</p>
    <p>So why wait any longer, give it a try,</p>
    <p>And see for yourself why TIN is the guy.</p>
</main>

<%- include('./fragment/footer.ejs') %>

<!--
<footer>
    Maciej Czupyt s22405
</footer>
</html>-->
