<%- include('./fragment/header.ejs') %>

<main>
    <h2><%= __('home.contnet')%></h2>
    <p>Roses are red, violets are blue,</p>
    <p>Our TIN class project, just me and you.</p>
    <p>A "mini-programming-task" is what they said,</p>
    <p>But it kept me up, all night out of bed.</p>
    <p>No server-side validation, a bug I did find,</p>
    <p>Debugging for hours, peace I couldn't find.</p>
    <p>But press on I must, make it all right,</p>
    <p>With code so tight, it will shine so bright!</p>
</main>

<%- include('./fragment/footer.ejs') %>
