<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
<!--    <link rel="stylesheet" href="../../../public/css/style.css" />-->
<!--    <meta charset="UTF-8">-->
<!--    <meta name="viewport" content="width=device-width,initial-scale=1"/>-->
<!--    <title>NotAnOrganHarvestingOperation.INC</title>-->
<!--</head>-->
<!--<header>-->
<!--    <h1>NotAnOrganHarvestingOperation.INC</h1>-->
<!--    <img src="../../../public/images/rimworld_logo.png" alt="NotAnOrganHarvestingOperation.INC logo">-->
<!--</header>-->
<!--<nav>-->
<!--    <ul>-->
<!--        <li><a href="../../index.ejs">Home</a></li>-->
<!--        <li><a href="../doctor/list.ejs">Doctors</a></li>-->
<!--        <li><a href="../operation/list.ejs">Operations</a></li>-->
<!--        <li><a href="list.ejs" class="active">WillingOrganDonors</a></li>-->
<!--        <li><a href="../organ/list.ejs">Organs</a></li>-->
<!--    </ul>-->
<!--</nav>-->
<%- include('../../fragment/header.ejs') %>

<main>
    <h2>List of WILLING Organ Donors</h2>
    <table class="table-list">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>CellNumber</th>
                <th>PatientFrom</th>
                <th>PatientTill</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>Jonathan Mother</td>
                <td>1</td>
                <td>05 April 5500</td>
                <td>06 April 5500</td>
                <td>
                    <ul class="list-actions">
                        <li>
                            <a href="/willingOrganDonors/details/1" class="list-actions-button-details">Details</a>
                        </li>
                        <li>
                            <a href="form-edit.ejs" class="list-actions-button-edit">Edit</a> <!-- TODO add edit in the routes? -->
                        </li>
                        <li>
                            <a href="https://www.youtube.com/watch?v=p7YXXieghto" class="list-actions-button-delete">Delete</a>
                        </li>
                    </ul>
                </td>
            </tr>
        </tbody>
    </table>
    <p><a href="/willingOrganDonors/add" class="button-add">Add a new WILLING Organ Donor</a></p>
</main>

<%- include('../../fragment/footer.ejs') %>
<!--<footer>-->
<!--    Maciej Czupyt s22405-->
<!--</footer>-->
<!--</html>-->